@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    @keyframes fade-in {
        from {
            opacity: 0;
            transform: translateY(25px);
        }
        to {
            opacity: 1;
            transform: translateY(0);
        }
    }

    .animate-fade-in {
        animation: fade-in 0.5s ease-out;
    }

    @keyframes title-gradient {
        0%,
        100% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 100% 50%;
        }
    }

    .animate-title-gradient {
        background-size: 200% 200%;
        animation: title-gradient 3s ease infinite;
    }
}
